.question_container
  margin-top: 10px

.questions_main
  display: flex
  flex-direction: column
  padding: 10px

.question_title
  font-size: 20px
  font-weight: 400
  font-weight: bold

.question-body
  font-size: 18px
  font-weight: 400

.question_block
  background: #e8e8e8
  padding: 15px
  border-radius: 5px
  font-weight: 400
  margin: 15px
  a
    text-decoration: none

.question_block_main
  background: #e8e8e8
  padding: 15px
  border-radius: 5px
  font-weight: 400
  margin: 15px
  a
    text-decoration: none

.hidden
  display: none

.votes
  .wrapper
    display: flex
    align-items: center
    flex-direction: row
    max-width: 100px
    justify-content: space-between
  .rating
    margin: 0px 15px 0px 15px
    min-width: 15px
